*.pyc
**__pycache__/*
google-cloud-app/env/*
.DS_Store
node_modules/
dist/
admindb/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
.env.production.local
vue-antd-admin/vue-antd-admin-0.7.4/*

vue-antd-admin/0.7.4.zip

os-project/
#venv
python/zabbixCLI-workplace/venv/
python/zabbixCLI-workplace/contents/venv
# pyc
*.pyc
git_push.sh

python/zabbixCLI-workplace/contents/mysite/mysite/__pycache__/settings.cpython-38.pyc
python/zabbixCLI-workplace/contents/mysite/mysite/__pycache__/urls.cpython-38.pyc
python/zabbixCLI-workplace/contents/mysite/db.sqlite3
.gitignore
**/migrations/*
